/*LISTA DE DIVISORES:
gamelogo; DIV DA LOGO
scorebox; DIV DA CAIXA DE PONTUAÇÃO
typingbox; DIV DA CAIXA DE DIGITAÇÃO
crdslogo; DIV DA CAIXA DE CRÉDITOS
*/

body{
    background-image: linear-gradient(to left, aqua, purple);
}
#gamelogo{
    position: fixed;
    top: 0;
    right: 0;
}
#scorebox{

}
#typingbox{

}
#crdslogo{
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}